:root {
  --card-width: 150px; /* Define the card width */
  --card-height: 300px; /* Define the card height */
}

.card {
  /* width: var(--card-width);
  height: var(--card-height);
  border: 1px solid #000;
  border-radius: 8px; */
  overflow: hidden;
  position: absolute;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  font-size: 1rem;
  transition: transform 0.3s ease;
}

.cardImage {
  width: var(--card-width);
  height: var(--card-height);
}

.cardValue {
  position: absolute;
  bottom: 5px;
  left: 5px;
  font-size: 1rem;
  color: #fff;
}
